*.swp

*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.dvi
*.nav
*.snm
*.out
*.vrb
*.toc
*.mp4

*.pdf
!nn-intro.pdf
!thesis-presentation.pdf
*.svg

!img/*
img/*-converted-to*


*.bbl
*.bcf
*.blg

*log*/*

thesis-presentation-blx.bib
thesis-presentation.run.xml
tikzlibrarytikzmark.code.tex
tikzmarklibrarylistings.code.tex

